@import "tailwindcss";

@theme {
  /* Green Foundation */
  --color-green-darker: #0c1e20;
  --color-green-light: #e9eeef;
  --color-green-light-active: #bbcbcc;
  --color-green-light-hover: #dee6e6;
  --color-green-normal: #23575b;
  --color-green-normal-hover: #204e52;

  /* Grays & TMC Brand */
  --color-gray-1: #333333;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-medium: #767676;
  --color-gray-dark: #696969;
  --color-tmc-blue: #255f82;
  --color-black-pure: #000000;
  --color-white-translucent: #ffffffb2;

  --font-sans: "Helvetica Neue", var(--font-arimo), Helvetica, Arial, ui-sans-serif, system-ui, sans-serif;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

  /* Define the Animation Utilities */
  /* Syntax: --animate-<name>: <keyframes> <duration> <timing> <delay> <iteration> */
  --animate-float-slow: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out 3s infinite;
}

@layer base {
  :root {
    background-color: #ffffff;
    color: var(--color-gray-1);
    font-family: var(--font-sans);
  }
  body {
    @apply antialiased;
  }
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
